@import url(font-awesome.min.css);

@font-face {
    font-family:'raleway';

src: url(../fonts/fonts/fontawesome-webfont.ttf);

}



*{
    margin: 0;
}
body{
    font-family:"raleway",helvetica,sans-serif ;
    color: #444;
}
a{
    text-decoration: none;
    color: #fff;
}






/* ------------------------------------------------------- */
/* بدون استفاده از فلکس باکس: */

/* .header h1 {
    float: left;
}

.nav {
    text-align: right;
}

.nav ul li {
    display: inline;
    padding: 0 15px;
}

.nav ul li a {
    color: rgba(255, 255, 255, 0.5);
    transition: color .2s ease-in-out;
}

.nav ul li a:hover {
    color: #ffffff;
}

.top-menu {
    padding: 40px;
}

.header {
    background-color: #444;
} */

/* با استفاده از فلکس باکس: */

/* ----------------------------------------------------- */




.top-menu{
    display: flex;
    justify-content: space-between;
    padding: 25px;
   
}
.nav ul {
    list-style: none;
    display: flex;
}
.nav ul li {
    padding: 10px 15px;
}
.nav ul li a {
    color: rgba(255,255,255,.5);
    transition: color .2s ease-in-out;
}
.nav ul li a:hover{

    color: #ffffff;

}
.header{
    background-image: url(../img/dark_tint.png),url(../img/bokeh_car_lights_bg.jpg);
    background-position: center center;
}

.banner-content{

    text-align: center;
    padding: 150px 0;
    color: #fff;
    line-height: 130px;

}
.banner-content h2{
    font-size: 5vw;
font-family: ;
}
.banner-content p{
    font-size: 2.3vw;
}

.btn {

padding: 20px 50px;
border-radius: 30px;
font-size: 1.5vw;
border: 0;
text-align: center;
cursor: pointer;
font-family: "raleway";
}
.btn-1{

color: #fff;
background-color: rgb(39, 126, 224) !important;

}






.services{

    background-color: #f5f5f5;
border-bottom: 1px solid rgba(144, 144, 144, 0.25);
border-top: 1px solid rgba(144, 144, 144, 0.25);
padding: 100px 0;
text-align: center;
}
.services-header{
    margin-bottom: 50px;
    /* line-height: 35px; */
}
.services-header h2 {

font-size: 40px;
color: #474747;
margin-bottom: 12px;

}
.services-header p {
 font-size: 25px;
 color: #858585;

}

.box h4 {
    margin-bottom: 20px;
    color: #858585;
    font-size: 18px;
}
.box p {
    color: #858585;
}

.cloud{
    color: rgb(255, 255, 255);
    font-size: 30px;
    background-color: #528ef6;
    padding: 25px;
    border-radius: 100%;
    margin-bottom: 20px;
}

.desktop{
    color: rgb(255, 255, 255);
    background-color: rgb(148, 195, 77);
font-size: 30px;
padding: 25px;
border-radius: 100%;
text-align: center;
margin-bottom: 20px;
}

.rocket{
padding: 25px;
font-size: 30px;
border-radius: 100%;
color: white;
background-color: rgb(202, 27, 27);
margin-bottom: 20px;
}

.box{
    background-color: #fff;
    border: 1px solid rgba(144, 144, 144, 0.25);
    border-radius: 4px;
padding: 70px 30px;
margin:0 20px;
height: 250px;
overflow: auto;
}

.services-content{
    display: flex;
    padding: 30px;
}







.about-header{
    text-align: center;
    padding: 100px;
}

.about-header h4{
    font-size: 40px;
    margin-bottom: 20px;
}
.about-header p{
    font-size: 25px;
    color: #858585;
}

/* -------------------------------------------------
users-icon: */

/* .about-content{
    display: flex;
 justify-content: space-around;
}

.prof-box{



}

.users-icon{
font-size: 45px;
background-color: #b3b3b3;
padding: 20px 25px;
border-radius: 100%;

}

.prof-box h4{
    position:relative;
    left: 95px;
    top: -70px;
}
.prof-box p{
    position:relative;
    left: 95px;
    top: -70px;
} */

/* ------------------------------------------------ */

.about-content{
    border-bottom: 1px solid rgba(144, 144, 144, 0.25);
    border-top: 1px solid rgba(144, 144, 144, 0.25);
margin: 15px auto;
display: flex;
/* justify-content: space-around; */
width: 90%;

}

.prof{
    /* flex-grow: 1; */
    margin: 20px auto;
    padding: 40px;
    display: flex;
}
.prof img{
    border-radius: 100%;
}
.ph4{
    margin-top: 20px;
    margin-left: 10px;
}

.footer-about-container{

text-align: center;
padding: 60px;
width: 85%;
margin: auto;

}
.footer-about-container p {
    margin-bottom: 50px;
    font-size: 25px;
    color: #858585;
}


.btn-2{

    color: #fff;
    background-color: rgb(95, 164, 242) !important;
    
    }

.contact{
    background-color:  rgb(85, 146, 215);
    color: #fff;
    text-align: center;
    padding: 70px;
}
.contact-content{
/* 
width: 100%;
height: 100%; */
text-align: center;
}

.contact h2{
    font-size: 50px;
    margin-bottom: 20px;   
}

.contact p {
    font-size: 35px;
    color: #f0f0f0 ;
    margin-bottom: 60px;
}
.btn-dark{
    background-color: #444;
    color: #fff;
}
/* .contact-content form{
    padding: 30px;
} */

input[type=text],
input[type=email]{
    font-size: 20px;
background-color: #fff;
color: #444;
border: 0;
border-radius: 4px;
padding: 10px 10px;
width: 25%;
}
textarea{
    font-size: 25px;
    background-color: #fff;
color: #444;
border: 0;
border-radius: 4px;
width: 50%;
margin-top: 20px;
margin-bottom: 30px;
padding: 10px 22px;
height: 200px;
resize: none;
}

.footer{
    background-color: #444;
    padding: 80px 35px;
  
}
.footer ul{
    
    display: flex; 
    
   
}
.footer a {
    align-self: center;
    color: #858585;
    padding: 10px;
    list-style-type: none;
}